### Pandas Assignment

In [2]:
import numpy as np
import pandas as pd

# 1 > Reading the file from the csv

In [3]:
df = pd.read_csv('population_india_census2011.csv', encoding='unicode_escape')
df

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912
1,2,West,Maharashtra,112374333,61556074,50818259,"307,713 km2",929
2,3,North,Bihar,104099452,92341436,11758016,"94,163 km2",918
3,4,East,West Bengal,91276115,62183113,29093002,"88,752 km2",953
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2",931
5,6,South,Tamil Nadu,72147030,37229590,34917440,"130,058 km2",996
6,7,North,Rajasthan,68548437,51500352,17048085,"342,239 km2",928
7,8,South,Karnataka,61095297,37469335,23625962,"191,791 km2",973
8,9,West,Gujarat,60439692,34694609,25745083,"196,024 km2",919
9,10,South,Andhra Pradesh,49577103,34966693,14610410,"162,968 km2",993
10,11,East,Odisha,41974218,34970562,7003656,"155,707 km2",979
11,12,South,Telengana,35003674,21395009,13608665,"112,077 km2",988
12,13,South,Kerala,33406061,17471135,15934926,"38,863 km2",1084
13,14,Central,Jharkhand,32988134,25055073,7933061,"79,714 km2",948
14,15,Noth East,Assam,31205576,26807034,4398542,"78,438 km2",954
15,16,North,Punjab,27743338,17344192,10399146,"50,362 km2",895
16,17,Central,Chhattisgarh,25545198,19607961,5937237,"135,191 km2",991
17,18,North,Haryana,25351462,16509359,8842103,"44,212 km2",879
18,19,North,Uttarakhand,10086292,7036954,3049338,"53,483 km2",963
19,20,North,Himachal Pradesh,6864602,6176050,688552,"55,673 km2",972
20,21,Noth East,Tripura,3673917,2712464,961453,"10,486 km2",960
21,22,Noth East,Meghalaya,2966889,2371439,595450,"22,429 km2",989
22,23,Noth East,Manipur,2570390,1793875,776515,"22,327 km2",992
23,24,Noth East,Nagaland,1978502,1407536,570966,"16,579 km2",931
24,25,West,Goa,1458545,551731,906814,"3,702 km2",973
25,26,Noth East,Arunachal Pradesh,1383727,1066358,317369,"83,743 km2",938
26,27,Noth East,Mizoram,1097206,525435,571771,"21,081 km2",976
27,28,Noth East,Sikkim,610577,456999,153578,"7,096 km2",890
28,29,North,Delhi,16787941,419042,16368899,"1,484 km2",868
29,30,North,Jammu and Kashmir,12267032,9064220,3202812,"125,535 km2",890
30,31,South,Puducherry,1247953,395200,852753,479 km2,1037
31,32,North,Chandigarh,1055450,28991,1026459,114 km2,818
32,33,West,Dadra and Nagar Haveli and Daman and Diu,585764,243510,342254,603 km2,711
33,34,South,Andaman and Nicobar Islands,380581,237093,143488,"8,249 km2",876
34,35,North,Ladakh,274000,43840,230160,"96,701 km2",853
35,36,South,Lakshadweep,64473,14141,50332,32 km2,946

# 2.a by Deafult

In [3]:
df.head()

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio
0,1,North,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2",912
1,2,West,Maharashtra,112374333,61556074,50818259,"307,713 km2",929
2,3,North,Bihar,104099452,92341436,11758016,"94,163 km2",918
3,4,East,West Bengal,91276115,62183113,29093002,"88,752 km2",953
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2",931

# 2.b By First 10 States

In [4]:
df['State / Union Territory'].iloc[:11]

0      Uttar Pradesh
1        Maharashtra
2              Bihar
3        West Bengal
4     Madhya Pradesh
5         Tamil Nadu
6          Rajasthan
7          Karnataka
8            Gujarat
9     Andhra Pradesh
10            Odisha
Name: State / Union Territory, dtype: object

# 3. What are the columns names?

In [5]:
df.columns.tolist()

['Sno',
 'Region',
 'State / Union Territory',
 'Population',
 'Rural population',
 'Urban population',
 'Area',
 'Gender Ratio']

# 4. How many ‘State/Union Territory’ are represented in this data set?

In [6]:
len(df['State / Union Territory'])

36

# 5. Get a list or array of all the ‘State/Union Territory’ in the data set

In [7]:
df['State / Union Territory'].tolist()

['Uttar Pradesh',
 'Maharashtra',
 'Bihar',
 'West Bengal',
 'Madhya Pradesh',
 'Tamil Nadu',
 'Rajasthan',
 'Karnataka',
 'Gujarat',
 'Andhra Pradesh',
 'Odisha',
 'Telengana',
 'Kerala',
 'Jharkhand',
 'Assam',
 'Punjab',
 'Chhattisgarh',
 'Haryana',
 'Uttarakhand',
 'Himachal Pradesh',
 'Tripura',
 'Meghalaya',
 'Manipur',
 'Nagaland',
 'Goa',
 'Arunachal Pradesh',
 'Mizoram',
 'Sikkim',
 'Delhi',
 'Jammu and Kashmir',
 'Puducherry',
 'Chandigarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Andaman and Nicobar Islands',
 'Ladakh',
 'Lakshadweep']

# 6.  Which region has maximum ‘State/Union Territory’?

In [8]:
grouped_df = df.groupby('Region',as_index=False).size()
grouped_df.idxmax()

'North'

# 7.  Which state/UT is having maximum population?

In [9]:
df.at[df['Population'].idxmax(), 'State / Union Territory']

'Uttar Pradesh'

# 8.  What is most populated region?

In [6]:
grouped_sum = pop.groupby('Region',as_index=False).sum()
grouped_sum_d = pd.DataFrame(grouped_sum)
grouped_sum_d.at[grouped_sum_d['Population'].idxmax(), 'Region']
#grouped_sum_d.iloc[grouped_sum_d['Population'].idxmax()]['Region']

'North'

# 9. How many states/UT have gender ratio greater than 900?

In [11]:
len(df[df['Gender Ratio']>900])

27

#  10. How many states have the word "Pradesh" in their name?

In [12]:
len(df[df['State / Union Territory'].str.contains('Pradesh')])

5

# 11. Add a column that calculates the density of population in each state/UT

In [13]:
df['Area'] = df['Area'].str.replace('km2','')

In [14]:
df['Area'] = df['Area'].str.replace(',','').astype(int)

In [15]:
df['Density of Population'] = df['Population'].divide(df['Area'])

In [16]:
df

,Sno,Region,State / Union Territory,Population,Rural population,Urban population,Area,Gender Ratio,Density of Population
0,1,North,Uttar Pradesh,199812341,155317278,44495063,240928,912,829.344622
1,2,West,Maharashtra,112374333,61556074,50818259,307713,929,365.192023
2,3,North,Bihar,104099452,92341436,11758016,94163,918,1105.523953
3,4,East,West Bengal,91276115,62183113,29093002,88752,953,1028.440091
4,5,Cntral,Madhya Pradesh,72626809,52557404,20069405,308245,931,235.613908
5,6,South,Tamil Nadu,72147030,37229590,34917440,130058,996,554.729659
6,7,North,Rajasthan,68548437,51500352,17048085,342239,928,200.294055
7,8,South,Karnataka,61095297,37469335,23625962,191791,973,318.551428
8,9,West,Gujarat,60439692,34694609,25745083,196024,919,308.328021
9,10,South,Andhra Pradesh,49577103,34966693,14610410,162968,993,304.213729
10,11,East,Odisha,41974218,34970562,7003656,155707,979,269.571811
11,12,South,Telengana,35003674,21395009,13608665,112077,988,312.318085
12,13,South,Kerala,33406061,17471135,15934926,38863,1084,859.585235
13,14,Central,Jharkhand,32988134,25055073,7933061,79714,948,413.831121
14,15,Noth East,Assam,31205576,26807034,4398542,78438,954,397.837477
15,16,North,Punjab,27743338,17344192,10399146,50362,895,550.878400
16,17,Central,Chhattisgarh,25545198,19607961,5937237,135191,991,188.956351
17,18,North,Haryana,25351462,16509359,8842103,44212,879,573.406813
18,19,North,Uttarakhand,10086292,7036954,3049338,53483,963,188.588748
19,20,North,Himachal Pradesh,6864602,6176050,688552,55673,972,123.302175
20,21,Noth East,Tripura,3673917,2712464,961453,10486,960,350.364009
21,22,Noth East,Meghalaya,2966889,2371439,595450,22429,989,132.279148
22,23,Noth East,Manipur,2570390,1793875,776515,22327,992,115.124737
23,24,Noth East,Nagaland,1978502,1407536,570966,16579,931,119.337837
24,25,West,Goa,1458545,551731,906814,3702,973,393.988385
25,26,Noth East,Arunachal Pradesh,1383727,1066358,317369,83743,938,16.523495
26,27,Noth East,Mizoram,1097206,525435,571771,21081,976,52.047151
27,28,Noth East,Sikkim,610577,456999,153578,7096,890,86.045237
28,29,North,Delhi,16787941,419042,16368899,1484,868,11312.628706
29,30,North,Jammu and Kashmir,12267032,9064220,3202812,125535,890,97.718023
30,31,South,Puducherry,1247953,395200,852753,479,1037,2605.329854
31,32,North,Chandigarh,1055450,28991,1026459,114,818,9258.333333
32,33,West,Dadra and Nagar Haveli and Daman and Diu,585764,243510,342254,603,711,971.416252
33,34,South,Andaman and Nicobar Islands,380581,237093,143488,8249,876,46.136623
34,35,North,Ladakh,274000,43840,230160,96701,853,2.833476
35,36,South,Lakshadweep,64473,14141,50332,32,946,2014.781250

# 12. Which States have the highest division between rural and  urban population?

In [17]:
df['Result'] = df['Rural population'].divide(df['Urban population'])

In [18]:
df.at[df['Result'].idxmax(), 'State / Union Territory']

'Himachal Pradesh'

# Thank You ####